<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Navigation</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style>
        body { font-family: Arial, sans-serif; }
        #map-container { width: 100%; height: 600px; }
        svg { width: 90%; height: 90%; }
        .room { cursor: pointer; fill: lightblue; transition: fill 0.2s; }
        .room:hover { fill: orange; }
    </style>
</head>
<body>
    <h2>Campus Map</h2><br/>
    <div id="map-container"></div>

    <script>
        d3.xml("/static/Floor_C.svg").then(function(xml) {
        let importedNode = document.importNode(xml.documentElement, true);
        d3.select("#map-container").node().appendChild(importedNode);

        document.querySelectorAll("g").forEach((room) => {
            let currentRoomId = room.id;                 

            d3.select(room)
            .on("mouseover", function() {
                d3.select(document.querySelector("#" + currentRoomId)).classed("highlight", true);
                console.log("Mouse Over Room -", currentRoomId);
            })
            .on("mouseout", function() {
                console.log("Mouse Out Room -", currentRoomId);
                d3.select(document.querySelector("#" + currentRoomId)).classed("highlight", false);
            })
            .on("click", function() {
                alert("You clicked " + currentRoomId);
            });
        });

        const style = document.createElement("style");
        style.innerHTML = `
            .highlight polyline, .highlight line { fill: purple; stroke: purple;}
            .highlight text {fill : white; }
        `;
        document.head.appendChild(style);
 

    // d3.selectAll("[id^='C']").each(function() {
    //     let room = d3.select(this);
    //     let roomClass = room.attr("id"); 
    //     room
    //         .on("mouseover", function() {
    //             room.style("fill", "orange"); 
    //             d3.selectAll("id='C77'").style("background-color", "purple");

    //         })
    //         .on("mouseout", function() {
    //             room.style("fill", "lightblue"); 
    //             d3.selectAll(id=roomClass).style("background-color", "white");


    //         })
    //         .on("click", function() {
    //             let roomId = room.attr("id"); 
    //             alert("You clicked " + roomId + " which is a " + roomClass);
    //         });
    // }); 
});

    </script>
</body>
</html>
